services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - "linux/amd64"
        - "linux/arm64"
    command: ["make", "dev"]
    ports:
      - 8080:8080
    volumes:
      - ./app:/app
